		<div id="footer">
			<div class="mast">
				<div class="container">
					<div class="row">
						<div class="col-lg-10 col-offset-2">
							<div class="col-lg-2">
								<ul class="nav nav-list">
									<li class="nav-header">
										<a class="#" title="Guides" href="{{%20site.production_url%20}}/guides.html">Guides</a>
									</li>
									<li>
										<a class="#" title="Get Started" href="{{%20site.production_url%20}}/guides/get-started.html">Get Started</a>
									</li>
									<li>
										<a class="#" title="MOAT IoT" href="{{%20site.production_url%20}}/guides/moat-iot.html">MOAT IoT</a>
									</li>
									<li>
										<a class="#" title="Examples" href="{{%20site.production_url%20}}/guides/examples.html">Examples</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-3">
								<ul class="nav nav-list">
									<li class="nav-header">
										<a class="#" title="References" href="{{%20site.production_url%20}}/references.html">References</a>
									</li>
									<li>
										<a class="#" title="MOAT IoT Model Descriptor" href="{{%20site.production_url%20}}/references/moat-iot-model-descriptor.html">MOAT IoT Model Descriptor</a>
									</li>
									<li>
										<a class="#" title="MOAT REST API Document" href="{{%20site.production_url%20}}/references/moat-rest-api-document.html">MOAT REST</a>
									</li>
									<li>
										<a class="#" title="MOAT PubSub API Document" href="{{%20site.production_url%20}}/references/moat-pubsub-api-document.html">MOAT PubSub</a>
									</li>
									<li>
										<a class="#" title="MOAT js" href="{{%20site.production_url%20}}/references/moat-js-api-document.html">MOAT js API Document</a>
									</li>
									<li>
										<a class="#" title="MOAT Java/Android" href="{{%20site.production_url%20}}/references/moat-java-api-document.html">MOAT Java/Android</a>
									</li>
									<li>
										<a class="#" title="MOAT C" href="{{%20site.production_url%20}}/references/moat-c-api-document.html">MOAT C</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-2">
								<ul class="nav nav-list">
									<li class="nav-header">
										<a class="#" title="Blog" href="{{%20site.production_url%20}}/blog.html">Blog</a>
									</li>
									<li class="nav-header">
										<a class="#" title="Tools" href="{{%20site.production_url%20}}/tools/iidn-developer-console.html">Tools</a>
									</li>
									<li class="nav-header">
										<a class="#" title="About US" href="{{%20site.production_url%20}}/about.html">About US</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-2">
								<ul class="nav nav-list">
									<li class="nav-header">
										<a class="#" title="Legal" href="{{%20site.production_url%20}}/legal.html">Legal</a>
									</li>
									<li>
										<a class="#" title="Term of Service" href="{{%20site.production_url%20}}/legal/term-of-service.html">Term of Service</a>
									</li>
									<li>
										<a class="#" title="Acceptable Use Policy" href="{{%20site.production_url%20}}/legal/acceptable-use-policy.html">Acceptable Use Policy</a>
									</li>
									<li>
										<a class="#" title="Privacy Policy" href="{{%20site.production_url%20}}/legal/privacy-policy.html">Privacy Policy</a>
									</li>
									<li>
										<a class="#" title="Trademark Usage Guidelines" href="{{%20site.production_url%20}}/legal/trademark-usage-guidelines.html">Trademark Usage Guidelines</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="text-center">
							<div class="nav-header">
								Copyright © 2014<br>
								Inventit Inc. All Rights Reserved.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
