<div id="footer">
    <div class="mast">
    <div class="container">
        <div class="row">
        <div class="col-lg-10 col-offset-1">
            <div class="col-lg-2">
            <ul class="nav nav-list">
                <li class="nav-header"> <a class="#" title="Guides" href="/guides.html"> <i class="icon-book"></i> Guides </a> </li>
                <li> <a class="#" title="Get Started" href="/guides/get-started.html"> Get Started </a> </li>
                <li> <a class="#" title="MOAT IoT" href="/guides/moat-iot.html"> MOAT IoT </a> </li>
                <li> <a class="#" title="Examples" href="/guides/examples.html"> Examples </a> </li>
              </ul>
          </div>
            <div class="col-lg-3">
            <ul class="nav nav-list">
                <li class="nav-header"> <a class="#" title="References" href="/references.html"> <i class="icon-file-text-alt"></i> References </a> </li>
                <li> <a class="#" title="MOAT IoT Model Descriptor" href="/references/moat-iot-model-descriptor.html"> MOAT IoT Model Descriptor </a> </li>
                <li> <a class="#" title="MOAT REST API Document" href="/references/moat-rest-api-document.html"> MOAT REST </a> </li>
                <li> <a class="#" title="MOAT js" href="/references/moat-js-api-document.html"> MOAT js API Document </a> </li>
                <li> <a class="#" title="MOAT Java/Android" href="/references/moat-java-api-document.html"> MOAT Java/Android </a> </li>
                <li> <a class="#" title="MOAT C" href="/references/moat-c-api-document.html"> MOAT C </a> </li>
              </ul>
          </div>
            <div class="col-lg-2">
            <ul class="nav nav-list">
                <li class="nav-header"> <a class="#" title="Blog" href="/blog.html"> <i class="icon-paste"></i> Blog </a> </li>
                <li class="nav-header"> <a class="#" title="About US" href="/about.html"> <i class="icon-paste"></i> About US </a> </li>
              </ul>
          </div>
            <div class="col-lg-2">
            <ul class="nav nav-list">
                <li class="nav-header"> <a class="#" title="Legal" href="/legal.html"> <i class="icon-paste"></i> Legal </a> </li>
                <li> <a class="#" title="Term of Service" href="/legal/term-of-service.html"> Term of Service </a> </li>
                <li> <a class="#" title="Acceptable Use Policy" href="/legal/acceptable-use-policy.html"> Acceptable Use Policy </a> </li>
                <li> <a class="#" title="Privacy Policy" href="/legal/privacy-policy.html"> Privacy Policy </a> </li>
                <li> <a class="#" title="Trademark Usage Guidelines" href="/legal/trademark-usage-guidelines.html"> Trademark Usage Guidelines </a> </li>
              </ul>
          </div>
            <div class="col-lg-3">
            <div class="text-center"><img src="/img/index/footer-address.png" alt="Responsive image" class="img-responsive"> </div>
          </div>
          </div>
      </div>
      </div>
  </div>
  </div>
