<div class="sideMenu">
	<div class="accordion" id="accordion2">
		<div class="accordion-group menu-name">
			<p><strong>Legal</strong></p>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				{% if page.name == "legal.html" %}
				<a href="#"><strong>
				{% else %}
				<a href="/legal.html">
				{% endif %}
				Legal and Policies
				{% if page.name == "legal.html" %}
				</strong>
				{% endif %}
				</a>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				{% if page.name == "term-of-service.html" %}
				<a href="#"><strong>
				{% else %}
				<a href="/legal/term-of-service.html">
				{% endif %}
				Term of Service
				{% if page.name == "term-of-service.html" %}
				</strong>
				{% endif %}
				</a>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				{% if page.name == "acceptable-use-policy.html" %}
				<a href="#"><strong>
				{% else %}
				<a href="/legal/acceptable-use-policy.html">
				{% endif %}
				Acceptable Use Policy
				{% if page.name == "acceptable-use-policy.html" %}
				</strong>
				{% endif %}
				</a>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				{% if page.name == "privacy-policy.html" %}
				<a href="#"><strong>
				{% else %}
				<a href="/legal/privacy-policy.html">
				{% endif %}
				Privacy Policy
				{% if page.name == "privacy-policy.html" %}
				</strong>
				{% endif %}
				</a>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				{% if page.name == "trademark-usage-guidelines.html" %}
				<a href="#"><strong>
				{% else %}
				<a href="/legal/trademark-usage-guidelines.html">
				{% endif %}
				Trademark Usage Guidelines
				{% if page.name == "trademark-usage-guidelines.html" %}
				</strong>
				{% endif %}
				</a>
			</div>
		</div>
	<!-- accordion End --> 
	</div>
<!-- sideMenu End --> 
</div>
