<div class="sub-navbar navbar-fixed-top">
	<div class="container">
		<ul class="subnav subnavbar-nav pull-right hidden-print">
			<li>
				<a class="hidden-sm" title="About us" href="/about.html">
					<i class="icon-user icon-large"></i>
				</a>
				<a class="visible-sm" title="About us" href="/about.html">
					<i class="icon-user icon-large"></i>
				</a>
			</li>
        	<li>
				<a class="hidden-sm" href="/atom.xml" title="Atom Feed">
					<i class="icon-rss icon-large"></i>
				</a>
				<a class="visible-sm" href="/atom.xml" title="Atom Feed">
					<i class="icon-rss icon-large"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="navbar navbar-fixed-top nav-top">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
    	<a class="navbar-brand" href="/">IIDN</a>
		<div class="nav-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav pull-right hidden-print">
				<li> <a class="hidden-sm" title="Home" href="#"> </a> <a class="visible-sm" title="Home" href="/index.html"> Home </a> </li>
				<li> <a class="hidden-sm" title="Guides" href="#"> </a> <a class="visible-sm" title="Guides" href="/guides.html"> Guides </a> </li>
				<li> <a class="hidden-sm" title="Tools" href="#"> </a> <a class="visible-sm" title="Tools" href="/tools/iidn-developer-console.html"> Tools </a> </li>
				<li> <a class="hidden-sm" title="References" href="#"> </a> <a class="visible-sm" title="References" href="/references.html"> References </a> </li>
				<li> <a class="hidden-sm" title="Blog" href="#"> </a> <a class="visible-sm" title="Blog" href="/blog.html"> Blog </a> </li>
			</ul>
		</div>
	</div>
</div>
