<div id="sns">
   <section class="meta">
     
       <div class="row">
         <div class="col col-lg-2 col-offset-2">
           <a href="https://plus.google.com/u/0/b/103577935124656848081">
             <i class="icon icon-google-plus-sign icon-4x"></i>
             <!--<div>
				Follow us on Google+.
			  </div>-->
           </a>
         </div>
         <div class="col col-lg-2">
           <a href="https://github.com/inventit">
             <i class="icon icon-github icon-4x"></i>
             <!--<div>
               See our github profile.
             </div>-->
           </a>
         </div>
         <div class="col col-lg-2">
           <a href="https://www.facebook.com/InventitIotDeveloperNetwork">
             <i class="icon icon-facebook-sign icon-4x"></i>
             <!--<div>
               See our facebook page.
             </div>-->
           </a>
         </div>
         <div class="col col-lg-2">
           <a href="http://www.linkedin.com/company/inventit-inc./inventit-iot-developer-network-1365558/product">
             <i class="icon icon-linkedin-sign icon-4x"></i>
             <!--<div>
               See our LinkedIn page.
             </div>-->
           </a>
         </div>
       </div>
    
   </section>
 </div>
 

</div>
