---
sitemap:
 priority: 0.8
 changefreq: weekly
 lastmod: 2013-09-28T00:00:00
layout: base
lang: ja
name: ja/blog.html
title: "Inventit Iot developer Network | ブログ"
---

<section class="content">
 <div class="container">
  <div class="row">
  
   <div class="col-lg-12">
    <h1>記事</h1>
     <ul class="listing">
      {% for post in site.posts %}
		  {% if post.lang == "ja" %}
	      <li>
	       <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
	      </li>
		  {% endif %}
      {% endfor %}
     </ul>
   </div>
   <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  
  </div>
 </div>
</section>


