---
sitemap:
 priority: 1.0
 changefreq: weekly
 lastmod: 2013-09-28T00:00:00
title: "Inventit Iot developer Network | ホーム"
name: ja/index.html
lang: ja
---
{% include head.html %}

<body>

{% include ja/navbar.html %}

<div id="wrapper">
	<div class="top-bg">   
<div class="container">
<div class="jumbotron">
     <h1><img src="/img/index/h1.png" alt="Responsive image" class=" img-responsive" /></h1>
</div>
     
<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
    <div class="thumbnail-img">
      <img src="/img/index/top-thumbnail01.png" alt="Responsive image" class=" img-responsive" />
    </div>
      <div class="caption">
        <h4>Platform</h4>
        <p>We provide you IoT/M2M development platform sandbox environment for free.<br />
Offering secure communication between devices and the platform,elastic data modelling database and Server Side Javascript runtime environment.</p>
        <a href="guides.html" class="btn btn-top">View details&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <div class="thumbnail-img">
      <img src="/img/index/top-thumbnail02.png" alt="Responsive image" class=" img-responsive" />
      </div>
      <div class="caption">
        <h4>MOAT-IoT</h4>
        <p>MOAT IoT is a set of APIs using our IoT/M2M platform. Including REST API to interact the platform, Server Side Javascript API to control your devices, and Java/C API simplifying embedded development.</p>
        <a href="references.html" class="btn btn-top">View details&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <div class="thumbnail-img">
      <img src="/img/index/top-thumbnail03.png" alt="Responsive image" class=" img-responsive" />
    </div>
      <div class="caption">
        <h4>Get-started!</h4>
        <p>A Facebook or GitHub user?<br />An Android user?OK!<br />
Now let's get started by checking out our sample code at GitHub, read the document and you can DIY your first IoT/M2M app!</p>
        <a href="guides/get-started.html" class="btn btn-top">Take me tutorial&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a>
      </div>
    </div>
  </div> 
</div>

</div>
</div>

{% include sns.html %}

{% include footer.html %}

{% include analytics.html %}

</body>

</html>
