---
sitemap:
 priority: 1.0
 changefreq: weekly
 lastmod: 2013-09-28T00:00:00
title: "Inventit Iot developer Network | ホーム"
name: ja/index.html
lang: ja
---
{% include head.html %}

<body>

{% include ja/navbar.html %}

<div id="wrapper">
	<div class="top-bg">   
<div class="container">
<div class="jumbotron">
     <h1><img src="/img/index/h1.png" alt="Responsive image" class=" img-responsive" /></h1>
</div>
     
<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
    <div class="thumbnail-img">
      <img src="/img/index/top-thumbnail01.png" alt="Responsive image" class=" img-responsive" />
    </div>
      <div class="caption">
        <h4>プラットフォーム</h4>
        <p>開発者が自由に利用できる Sandbox プラットフォームを提供します。<br />
ServiceSync は、デバイスとプラットフォーム間のセキュアな通信、柔軟なデータモデリング手段、そしてサーバーサイドで動作する Javascript の実行環境を提供します。</p>
        <a href="guides.html" class="btn btn-top">詳細&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <div class="thumbnail-img">
      <img src="/img/index/top-thumbnail02.png" alt="Responsive image" class=" img-responsive" />
      </div>
      <div class="caption">
        <h4>MOAT-IoT</h4>
        <p>MOAT IoT は、ServiceSyncが提供する IoT/M2M プラットフォームにアクセスするための API セットです。<br />
          この API セットは、プラットフォームと対話するための REST API、デバイスを制御するサーバサイド Javascript API、 そして組み込み開発を容易にする Java/C API から構成されます。</p>
        <a href="references.html" class="btn btn-top">詳細&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <div class="thumbnail-img">
      <img src="/img/index/top-thumbnail03.png" alt="Responsive image" class=" img-responsive" />
    </div>
      <div class="caption">
        <h4>さあ、始めましょう！</h4>
        <p>Facebook ユーザーですか？ GitHub ユーザーですか？それとも Android ユーザー？<br />OK! 早速、私たちが GitHub で提供するサンプルコードをダウンロードして、ドキュメントに目を通し、あなただけの最初のIoT/M2Mアプリケーションを作ってみましょう！</p>
        <a href="guides/get-started.html" class="btn btn-top">チュートリアル&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a>
      </div>
    </div>
  </div> 
</div>

</div>
</div>

{% include sns.html %}

{% include footer.html %}

{% include analytics.html %}

</body>

</html>
