---
layout: base
---

<section class="content">
 <div class="container">
  <div class="row">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
	{% if page.posted_by != nil %}
	by <a href="https://github.com/{{ page.posted_by }}">{{ page.posted_by }}</a>
	{% endif %}
  </section>

  {{ content }}
  <div class="pull"></div>
  {% include twitter.html %}
  {% include googleplus.html %}
  <hr>
  {% include disqus.html %}
 </div>
</div>
</section>
